<div class="contacto">
    <h2>Contacto</h2>

    <p>
        Estamos emocionados de compartir contigo todo lo que el CBTA 190 
        tiene para ofrecer. Si deseas recibir información detallada 
        y mantenerte al tanto de nuestras últimas novedades y programas 
        educativos, por favor, comparte tus datos de contacto con nosotros. 
        Estamos aquí para brindarte toda la ayuda que necesitas en tu 
        búsqueda de una educación de calidad.
    </p>

    <form>
        <h3>Informacion de contacto</h3>

        <div class="data-input">
            <p>
                <img src="../../../assets/icons/form/user.png" alt="user-icon">
                Nombre:
            </p>
            <input type="text" name="" id="">
        </div>

        <div class="data-input">
            <p>
                <img src="../../../assets/icons/form/phone.png" alt="phone-icon">
                Telefono:
            </p>
            <input type="text" name="" id="">
        </div>

        <div class="data-input">
            <p>
                <img src="../../../assets/icons/form/email.png" alt="email-icon">
                Correo:
            </p>
            <input type="text" name="" id="">
        </div>

        <div class="data-input">
            <p>
                <img src="../../../assets/icons/form/catalog.png" alt="subject-icon">
                Asunto:
            </p>
            <input type="text" name="" id="">
        </div>

        <button> Enviar </button>
    </form>
      
</div>