.contacto{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom: 2px solid #0d142e;
    border-top: 2px solid #0d142e;
}
.contacto h2{
    font-size: 35px;
    text-align: center;
    color: #055159;
    margin-bottom: 20px;
    font-weight: bold;
}
.contacto > p{
    margin-bottom: 20px;
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
}
form{
    background-color: #f1f7ee;
    width: 40%;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
form h3{
    color: #055159;
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}
form button{
    background-color: #055159;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 2.5px 10px;
    font-weight: bold;
    margin-bottom: 20px;
}
form button:hover{cursor: pointer; transform: scale(1.05);}
form .data-input{
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 20px;
}
form .data-input p{
    font-size: 16px;
    font-weight: bold;
    width: 20%;
    display: flex;
    align-items:flex-end;
    justify-content: flex-start;
}
form .data-input p img{margin-right: 5px;}
form .data-input input{
    width: 80%;
    font-size: 18px;
    text-align: center;
    border-bottom: 2px solid #055159;
    offset: none;
    outline: none;
    background-color: transparent;
}