@media (min-width: 250px) and (max-width: 400px){
  section h2, .contacto h2, .about h2{font-size: 18px;}
  section p, .contacto > p{font-size: 14px;}
  form{
    width: 100%;
  }
  form h3{font-size: 16px;}
  form .data-input{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  form .data-input p{width: 100%; margin-bottom: 10px; font-size: 14px;}
  form .data-input input{width: 100%; font-size: 14px; }
  form button{ font-size: 14px;}
}

@media (min-width: 400px) and (max-width: 600px){
    section h2, .contacto h2 ,.about h2{font-size: 20px;}
    section p, .contacto > p{font-size: 16px;}
    form{
      width: 100%;
    }
    form h3{font-size: 16px;}
    form .data-input{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    form .data-input p{width: 100%; margin-bottom: 10px; font-size: 14px;}
    form .data-input input{width: 100%; font-size: 14px; }
    form button{ font-size: 14px; }
}

@media (min-width: 600px) and (max-width: 800px){
    section h2, .contacto h2 ,.about h2{font-size: 20px;}
    section p, .contacto > p{font-size: 16px;}
    form{
      width: 85%;
    }
    form h3{font-size: 16px;}
    form .data-input{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    form .data-input p{width: 100%; margin-bottom: 10px; font-size: 14px;}
    form .data-input input{width: 100%; font-size: 14px; }
    form button{ font-size: 14px; }
}

@media (min-width: 800px) and (max-width: 1000px){
    section h2, .contacto h2 ,.about h2{font-size: 20px;}
    section p, .contacto > p{font-size: 16px;}
    form{
      width: 75%;
    }
    form h3{font-size: 16px;}
    form .data-input{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    form .data-input p{width: 100%; margin-bottom: 10px; font-size: 14px;}
    form .data-input input{width: 100%; font-size: 14px; }
    form button{ font-size: 14px; }
}

@media (min-width: 1000px) and (max-width: 1200px){
    section h2, .contacto h2 ,.about h2{font-size: 20px;}
    section p, .contacto > p{font-size: 16px;}
    form{
      width: 50%;
    }
    form h3{font-size: 16px;}
    form .data-input{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    form .data-input p{width: 100%; margin-bottom: 10px; font-size: 14px;}
    form .data-input input{width: 100%; font-size: 14px;}
    form button{ font-size: 14px; }
}

@media (min-width: 1200px) and (max-width: 1400px){
    main h1{font-size: 35px;}
    main p{font-size: 20px;}  
    main button{font-size: 18px;}
    section h2, .contacto h2 ,.about h2{font-size: 25px;}
    section p, .contacto > p{font-size: 18px;}
    article .information h3, .article-bg .information h3, .about h3{
      font-size: 20px;
    }
    article .information p, .article-bg .information p, .about p{
      text-align:justify;
      font-size: 18px;
    }
    form{
      width: 50%;
    }
    form h3{font-size: 18px;}
    form .data-input{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    form .data-input p{width: 100%; margin-bottom: 10px; font-size: 16px;}
    form .data-input input{width: 100%; font-size: 16px; }
    form button{ font-size: 16px;}
}

@media (min-width: 1400px) and (max-width: 1600px){
    section h2, .contacto h2 ,.about h2{font-size: 30px;}
    section p, .contacto > p{font-size: 20px;}
    form{
      width: 50%;
    }
    form h3{font-size: 22.5px;}
    form button{ font-size: 16px; }
}

@media (min-width: 1600px) and (max-width: 2000px){
    section h2, .contacto h2 ,.about h2{font-size: 35px;}
    section p, .contacto > p{font-size: 20px;}
}