body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.about{
    width: 100%;
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.about h2{
    font-size: 35px;
    text-align: center;
    color: #055159;
    margin-bottom: 20px;
}
.about h3{
    color: #055159;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.about p{
    margin-bottom: 20px;
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
}

article{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.mision, .vision{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}