@media (min-width: 250px) and (max-width: 400px){
  section h2, .contacto h2, .about h2{font-size: 18px;}
  section p, .contacto > p{font-size: 14px;}
  article{
    flex-direction: column;
  }
  .mision, .vision{width: 100%;}
  .about h3{
    font-size: 16px;
    width: 100%;
    text-align: center;
  }
  .about p{
    text-align:justify;
    font-size: 14px;
  }
}
  
@media (min-width: 400px) and (max-width: 600px){
    section h2, .contacto h2 ,.about h2{font-size: 20px;}
    section p, .contacto > p{font-size: 16px;}
    article{
      flex-direction: column;
    }
    .mision, .vision{width: 100%;}
    .about h3{
      font-size: 18px;
      width: 100%;
      text-align: center;
    }
    .about p{
      text-align:justify;
      font-size: 16px;
    }
  }

@media (min-width: 600px) and (max-width: 800px){
    section h2, .contacto h2 ,.about h2{font-size: 20px;}
    section p, .contacto > p{font-size: 16px;}
    article{
      flex-direction: column;
    }
    .mision, .vision{width: 100%;}
    .about h3{
      font-size: 18px;
      width: 100%;
      text-align: center;
    }
    .about p{
      text-align:justify;
      font-size: 16px;
    }
}

@media (min-width: 800px) and (max-width: 1000px){
    section h2, .contacto h2 ,.about h2{font-size: 20px;}
    section p, .contacto > p{font-size: 16px;}
    article{
      align-items: flex-start;
    }
    .about h3{
      font-size: 18px;
      width: 100%;
      text-align: center;
    }
    .about p{
      text-align:justify;
      font-size: 16px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px){
    section h2, .contacto h2 ,.about h2{font-size: 20px;}
    section p, .contacto > p{font-size: 16px;}
    article{
      align-items: flex-start;
    }
    .about h3{
      font-size: 18px;
      width: auto;
      text-align: left;
    }
    .about p{
      text-align:justify;
      font-size: 16px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px){
    section h2, .contacto h2 ,.about h2{font-size: 25px;}
    section p, .contacto > p{font-size: 18px;}
    article{
      align-items: flex-start;
    }
    .about h3{
      font-size: 20px;
    }
    .about p{
      text-align:justify;
      font-size: 18px;
    }
}

@media (min-width: 1400px) and (max-width: 1600px){
    section h2, .contacto h2 ,.about h2{font-size: 30px;}
    section p, .contacto > p{font-size: 20px;}
    article{
      align-items: flex-start;
    }
    .about h3{
      font-size: 22.5px;
    }
    .about p{
      text-align:justify;
      font-size: 18px;
    }
}

@media (min-width: 1600px) and (max-width: 2000px){
    section h2, .contacto h2 ,.about h2{font-size: 35px;}
    section p, .contacto > p{font-size: 20px;}
    article{
      align-items: flex-start;
    }
    .about h3{
      font-size: 25px;
    }
    .about p{
      text-align:justify;
      font-size: 18px;
    }
}