<div class="about">
    <h2> Acerca de CBTA 190 </h2>

    <h3>Historia</h3>

    <p>
        El centro educativo público CBTa 190, Ocuituco ofrece el servicio tipo del bachillerato técnico y
        se ubica en un ambiente urbano en dicha localidad. El instituto de educación media superior de
        turno matutino tiene la clave oficial y se dan clases a 341 alumnos. Lo cual el instituto educativo
        va creciendo de una manera exponencial con nuevos alumnos de las diferentes carreras que
        imparte dicha institución y se debe de crear un sistema de control para estudiantes para así
        tener una mejor administración. sistema de control de acceso que rápidamente se volvió el
        principal proyecto ya que, ofrece una amplia gama de módulos que permiten tener la
        administración completa no solo de la parte estudiantil, sino que también se pueden administrar
        a cada una de las entidades que componen una escuela, desde los alumnos, grupos, profesores
        hasta los diferentes planteles que puede tener una misma institución.
    </p>

    <article>
        <div class="mision">
            <h3> Mision </h3>

            <p>
                Ofrecer carreras técnicas están orientadas a formar profesionales técnicos que atiendan a la
                población rural que se dedica a las actividades agrícolas, ganaderas, silvícolas, agroindustriales
                y de servicios, a fin de elevar la eficiencia y calidad de los procesos productivos.
            </p>
        </div>

        <div class="vision">
            <h3>Vision</h3>
    
            <p>
                El Bachillerato tecnológico que los prepara en forma bivalente: por un lado, para continuar
                estudios de educación superior y, por otro, para recibir formación profesional, consistente en
                una carrera técnica que los capacita y dispone su incorporación al mercado laboral.
            </p>
        </div>
    </article>

</div>