@media (min-width: 250px) and (max-width: 400px){
    section h2, .contacto h2, .about h2{font-size: 18px;}
    section p, .contacto > p{font-size: 14px;}
    article, .article-bg{
      flex-direction: column;
      width: 100%;
      height: 600px;
    }
    article .information, .article-bg .information{height: 70%;}
    article .image-article, .article-bg .image-article{height: 30%;}
    article .information, article .image-article, .article-bg .information, .article-bg .image-article{
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    article .information .information-h3, .article-bg .information h3, .about h3{
      font-size: 16px;
      width: 100%;
      text-align: center;
    }
    article .information p, .article-bg .information p, .about p{
      text-align:justify;
      font-size: 14px;
    }
  }
  
  @media (min-width: 400px) and (max-width: 600px){
      section h2, .contacto h2 ,.about h2{font-size: 20px;}
      section p, .contacto > p{font-size: 16px;}
      article, .article-bg{
        flex-direction: column;
        width: 100%;
        height: 600px;
      }
      article .information, .article-bg .information{height: 60%;}
      article .image-article, .article-bg .image-article{
          height: 40%; 
          display: flex;
          align-items: center;
          justify-content: center;
      }
      article .image-article img{width: 85%;height: 100%;}
      article .information, article .image-article, .article-bg .information, .article-bg .image-article{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
      article .information .information-h3, .article-bg .information h3, .about h3{
        font-size: 18px;
        width: 100%;
        text-align: center;
      }
      article .information p, .article-bg .information p, .about p{
        text-align:justify;
        font-size: 16px;
      }
    }
  
  @media (min-width: 600px) and (max-width: 800px){
      section h2, .contacto h2 ,.about h2{font-size: 20px;}
      section p, .contacto > p{font-size: 16px;}
      article, .article-bg{
        flex-direction: column;
        width: 100%;
        height: 600px;
      }
      article .information, .article-bg .information{height: 60%;}
      article .image-article, .article-bg .image-article{
          height: 40%; 
          display: flex;
          align-items: center;
          justify-content: center;
      }
      article .image-article img{
          width: 60%;
          height: 100%;
      }
      article .information, article .image-article, .article-bg .information, .article-bg .image-article{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
      article .information .information-h3, .article-bg .information h3, .about h3{
        font-size: 18px;
        width: 100%;
        text-align: center;
      }
      article .information p, .article-bg .information p, .about p{
        text-align:justify;
        font-size: 16px;
      }
  }
  
  @media (min-width: 800px) and (max-width: 1000px){
      section h2, .contacto h2 ,.about h2{font-size: 20px;}
      section p, .contacto > p{font-size: 16px;}
  
      article .information .information-h3, .article-bg .information h3, .about h3{
        font-size: 18px;
        width: 100%;
        text-align: center;
      }
      article .information p, .article-bg .information p, .about p{
        text-align:justify;
        font-size: 16px;
        padding-bottom: 20px;
      }
  }
  
  @media (min-width: 1000px) and (max-width: 1200px){
      section h2, .contacto h2 ,.about h2{font-size: 20px;}
      section p, .contacto > p{font-size: 16px;}
      article .information h3, .article-bg .information h3, .about h3{
        font-size: 18px;
        width: auto;
        text-align: left;
      }
      article .information p, .article-bg .information p, .about p{
        text-align:justify;
        font-size: 16px;
      }
  }
  
  @media (min-width: 1200px) and (max-width: 1400px){
      section h2, .contacto h2 ,.about h2{font-size: 25px;}
      section p, .contacto > p{font-size: 18px;}
      article .information h3, .article-bg .information h3, .about h3{
        font-size: 20px;
      }
      article .information p, .article-bg .information p, .about p{
        text-align:justify;
        font-size: 18px;
      }
  }
  
  @media (min-width: 1400px) and (max-width: 1600px){
      section h2, .contacto h2 ,.about h2{font-size: 30px;}
      section p, .contacto > p{font-size: 20px;}
      article .information h3, .article-bg .information h3, .about h3{
        font-size: 22.5px;
      }
      article .information p, .article-bg .information p, .about p{
        text-align:justify;
        font-size: 18px;
      }
  }
  
  @media (min-width: 1600px) and (max-width: 2000px){
      section h2, .contacto h2 ,.about h2{font-size: 35px;}
      section p, .contacto > p{font-size: 20px;}
      article .information h3, .article-bg .information h3, .about h3{
        font-size: 25px;
      }
      article .information p, .article-bg .information p, .about p{
        text-align:justify;
        font-size: 18px;
      }
  }