body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
section{
    width: 100%;
    min-height: 2000px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
section h2{
    font-size: 35px;
    text-align: center;
    color: #055159;
    margin: 20px 20px 0 20px;
}
section > p{
    margin: 20px;
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
}
article{
    width: 100%;
    height: 600px;
    padding: 0 20px;
    /* background-color: #effce9; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
article > .information{
    padding-left: 20px;
    padding-right: 0;
}
article .information{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
article .information h3{
    color: #67bf4e;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
}
article .information p{
    font-size: 18px;
}

article .image-article{
    width: 40%;
    height: 100%;
}
article .image-article img{
    width: 100%;
    height: 100%;
}
.article-bg{
    background-color: #f1f7ee;
    flex-direction: row;
}
.article-bg > .information{
    padding-right: 20px;
    padding-left: 0;
}