<body>
    
    <section>
        <h2>Oferta Educativa</h2>
    
        <p>El Centro de Bachillerato Tecnológico Agropecuario No. 190 (CBTA 190) 
            se enorgullece en ofrecer una amplia gama de programas educativos diseñados 
            con el compromiso de preparar a nuestros estudiantes para el éxito tanto 
            en el mundo laboral como en el ámbito académico. Nuestra oferta educativa 
            se ha desarrollado cuidadosamente para proporcionar a los estudiantes 
            una base sólida de conocimientos y habilidades que son esenciales 
            en el contexto actual y futuro.
        </p>

    
        <article class="article-bg">

            <div class="information">
                <h3>Técnico en Ofimática</h3>
                <p>Formamos expertos en el uso eficiente de herramientas 
                    informáticas y software de oficina, preparándolos para 
                    enfrentar los desafíos en el entorno empresarial moderno.
                </p>
            </div>

            <div class="image-article">
                <img src="../../../assets/home/ofimatica.jpg" alt="ofimatica-img">
            </div>

        </article>
    
        <article>

            <div class="information">
                <h3 class="information-h3">Técnico Agropecuario</h3>
                <p>Brindamos conocimientos sólidos en agricultura y ganadería, 
                    capacitando a nuestros estudiantes para trabajar en la 
                    industria agropecuaria con excelencia.
                </p>
            </div>

            <div class="image-article">
                <img src="../../../assets/home/agropecuaria.jpg" alt="agropecuaria-img">
            </div>

        </article>
    
        <article class="article-bg">

            <div class="information">
                <h3>Técnico en Administración de Empresas Agropecuarias</h3>
                <p>Preparamos líderes en la gestión de empresas agropecuarias, 
                    combinando habilidades empresariales con un profundo 
                    entendimiento del sector agroindustrial.
                </p>
            </div>

            <div class="image-article">
                <img src="../../../assets/home/administracion.jpg" alt="administracion-img">
            </div>

        </article>
    
        <article>

            <div class="information">
                <h3 class="information-h3">Técnico en Mantenimiento de Equipo de Cómputo</h3>
                <p>Desarrollamos expertos en el mantenimiento y reparación 
                    de equipos informáticos, contribuyendo a la eficiencia 
                    tecnológica en diversas industrias.
                </p>
            </div>

            <div class="image-article">
                <img src="../../../assets/home/mantenimiento.jpg" alt="mantenimiento-img">
            </div>

        </article>
    </section>

</body>