footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #0d142e;
}
section{
    width: 100%;
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.contact-info{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* background-color: tomato; */
}
.contact-info h3{
    font-size: 18px;
    font-weight: bold;
    color: #f2e30f;
    margin-bottom: 20px;
    text-align: center;
}
.contact-info p{
    font-weight: bold;
    color: #67bf4e;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    font-size: 16px;
    /* background-color: bisque; */
}
.contact-info p img{margin-right: 5px;}
.contact-info p span{margin-left: 5px; color: white;}
.social{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.social h3{
    font-size: 18px;
    font-weight: bold;
    color: #f2e30f;
    margin-bottom: 20px;
    text-align: center;
}
.social ul{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.social ul a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0 5px;
}
.social ul a img{
    margin-right: 5px;
    border-radius: 5px;
}
.social .fb-icon{
    background: #396afc;
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);
    background: linear-gradient(to right, #2948ff, #396afc);
}
.social .yt-icon{
    background-color: #c4302b;
}
.social .tw-icon{
    background: #1DA1F2;
}
.social ul a:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.social .h3-horario{
    margin-top: 20px;
}
.social > p{
    color: #67bf4e;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.social p img{margin-right: 5px;}
.social p span{color: white; margin-left: 5px;}
.copyright{padding-bottom: 20px;}
.copyright p{
    color: white; 
    font-size: 18px; 
    font-weight: bold;
    text-align: center; 
    word-wrap: break-word;
}