@media (min-width: 250px) and (max-width: 400px){
    section{flex-direction: column;}
    .contact-info{width: 100%;}
    .contact-info h3{font-size: 16px;}
    .contact-info p{
        width: 100%;
        font-size: 14px;
        flex-direction: column;
    }
    .contact-info p img{display: none;}
    .contact-info p span{
        word-wrap: break-word;
        font-size: 12px;
        text-align: center;
    }
    .social{ width: 100%;}
    .social h3, .social .h3-horario{font-size: 16px;}
    .social .h3-horario{margin-top: 0;}
    .social ul{
        margin-bottom: 20px;
    }
    .social ul a{margin-bottom: 10px; font-size: 12px;}
    .social p img{display: none;}
    .social a p{display: none;}
    .social > p{font-size: 14px; flex-direction: column;}
    .social p span{font-size: 12px; text-align: center;}
    .copyright p{margin-left: 5%; margin-right: 5%; text-align: center; font-size: 12px;}
}

@media (min-width: 400px) and (max-width: 650px){
    section{flex-direction: column;}
    .contact-info{width: 100%;}
    .contact-info h3{font-size: 16px;}
    .contact-info p img{display: none;}
    .contact-info p{
        width: 100%;
        font-size: 14px;
        flex-direction: column;
    }
    .contact-info p span{
        word-wrap: break-word;
        font-size: 14px;
        text-align: center;
    }
    .social{ width: 100%;}
    .social p img{display: none;}
    .social h3, .social .h3-horario{font-size: 16px;}
    .social .h3-horario{margin-top: 0;}
    .social ul{
        width: 90%;
        margin-bottom: 20px;
    }
    .social p img{display: none;}
    .social ul a{margin-bottom: 10px; font-size: 14px;}
    .social > p{font-size: 14px; flex-direction: column;}
    .social p span{font-size: 14px; text-align: center;}
    .copyright p{margin-left: 5%; margin-right: 5%; text-align: center; font-size: 14px;}
}

@media (min-width: 650px) and (max-width: 800px){
    section{flex-direction: column;}
    .contact-info{width: 100%;}
    .contact-info h3{font-size: 18px;}
    .contact-info p img{display: none;}
    .contact-info p{
        width: 100%;
        font-size: 16px;
        flex-direction: column;
    }
    .contact-info p span{
        word-wrap: break-word;
        font-size: 16px;
        text-align: center;
    }
    .social{ width: 100%;}
    .social p img{display: none;}
    .social h3, .social .h3-horario{font-size: 18px;}
    .social .h3-horario{margin-top: 0;}
    .social ul{
        margin-bottom: 20px;
    }
    .social ul a{margin-bottom: 10px; font-size: 16px;}
    .social > p{font-size: 16px; flex-direction: column;}
    .social p span{font-size: 16px; text-align: center;}
    .copyright p{margin-left: 5%; margin-right: 5%; text-align: center; font-size: 16px;}
}

@media (min-width: 800px) and (max-width: 1000px){
    section{align-items: flex-start;}
    .contact-info h3{font-size: 18px;}
    .contact-info p{
        width: 100%;
        font-size: 16px;
        flex-direction: column;
    }
    .contact-info p span{
        word-wrap: break-word;
        font-size: 16px;
        text-align: center;
    }
    .social{justify-content: flex-start;}
    .social h3, .social .h3-horario{font-size: 18px;}
    .social .h3-horario{margin-top: 0;}
    .social ul{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .social ul a{margin-bottom: 20px; font-size: 16px;}
    .social > p{font-size: 16px; flex-direction: column;}
    .social p span{font-size: 16px; text-align: center;}
    .copyright p{margin-left: 5%; margin-right: 5%; text-align: center; font-size: 16px;}
}

@media (min-width: 1000px) and (max-width: 1200px){
    section{align-items: flex-start;}
    .social .h3-horario{margin-top: 0;}
    .contact-info p{
        width: 90%;
        font-size: 12px;
    }
    .social > p{
        font-size: 12px;
    }
    .social ul a{
        font-size: 12px;
    }
    .copyright p{text-align: center; font-size: 18px;}
}

@media (min-width: 1200px) and (max-width: 1400px){
    section{align-items: flex-start;}
    .social .h3-horario{margin-top: 0;}
    .contact-info p{
        width: 90%;
        font-size: 14px;
    }
    .social > p{
        font-size: 14px;
    }
    .social ul a{
        font-size: 14px;
    }
    .copyright p{text-align: center; font-size: 18px;}
}

@media (min-width: 1400px) and (max-width: 1600px){
    section{align-items: flex-start;}
    .social .h3-horario{margin-top: 0;}
    .contact-info p{
        font-size: 16px;
    }
    .social > p{
        font-size: 16px;
    }
    .social ul a{
        font-size: 16px;
    }
    .copyright p{text-align: center; font-size: 18px;}
}

@media (min-width: 1600px) and (max-width: 1800px){
    section{align-items: flex-start;}
    .social .h3-horario{margin-top: 0;}
    .contact-info p{
        font-size: 16px;
    }
    .social > p{
        font-size: 16px;
    }
    .social ul a{
        font-size: 16px;
    }
    .copyright p{text-align: center; font-size: 18px;}
}

@media (min-width: 1800px) and (max-width: 2000px){
    section{align-items: flex-start;}
    .social .h3-horario{margin-top: 0;}
    .contact-info p{
        font-size: 16px;
    }
    .social > p{
        font-size: 16px;
    }
    .social ul a{
        font-size: 16px;
    }
    .copyright p{text-align: center; font-size: 18px;}
}