<footer>
    <section>
        <div class="contact-info">
            <h3>Información de contacto</h3>
            <p>
                <img src="../../../assets/icons/footer/phone.png" alt="phone-icon">
                Teléfono: 
                <span> 731 357 0709</span>
            </p>
            <p>
                <img src="../../../assets/icons/footer/email.png" alt="email-icon">
                Correo: 
                <span> cbta190leonavicario@gmail.com </span>
            </p>
            <p>
                <img src="../../../assets/icons/footer/map.png" alt="map-icon">
                Dirección: 
                <span> Crr Ocuituco los Limones km 2.5, Ocuituco, Mexico</span>
            </p>
        </div>

        <div class="social">
            <h3 class="h3-horario">Horario</h3>

            <p>
                <img src="../../../assets/icons/footer/clock.png" alt="clock-icon">
                Lunes a Sabado
                <span> 7:20 am - 3:20 pm </span>
            </p>

            <h3>Redes sociales</h3>
            <ul>
                <a href="https://www.facebook.com/Lostitanes1" target="_blank">
                    <img src="../../../assets/icons/social/brand-facebook.png" alt="facebook-icon" class="fb-icon">
                    <p>CBTA 190</p>
                </a>
        
                <a>
                    <img src="../../../assets/icons/social/brand-youtube.png" alt="youtube-icon" class="yt-icon">
                    <p>CBTA 190</p>
                </a>
        
                <a href="https://twitter.com/cbta190" target="_blank">
                    <img src="../../../assets/icons/social/brand-twitter.png" alt="twitter-icon" class="tw-icon">
                    <p>CBTA 190</p>
                </a>
            </ul>
        </div>
    </section>

    <div class="copyright">
        <p>&copy; 2023 CBTA 190 Leona Vicario Fernandez. Todos los derechos reservados.</p>
    </div>
</footer>