body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main img{
    position: absolute;
    filter: brightness(0.6);
    height: 100%;
    width: 100%;
    object-fit: cover;
}
main h1{
    z-index: 2;
    margin: 0 10%;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 2px #0d142e;
    line-height: 1.2;
}
main p {
    z-index: 2;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 5% 0 5%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #0d142e;
    line-height: 1.1;
}
main .actions{z-index: 2;}
main button{
    z-index: 2;
    font-size: 20px;
    padding: 5px 10px;
    font-weight: bold;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
}
main .btn1{margin-right: 20px;}
main button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

@media (min-width: 250px) and (max-width: 400px){
    main h1{font-size: 25px;}
    main p{font-size: 18px;}  
    main button{font-size: 14px; min-width: 100px;}
    main .actions{display: flex; flex-direction: column;}
    main .btn1{margin-right: 0;}
}

@media (min-width: 400px) and (max-width: 600px){
    main h1{font-size: 25px;}
    main p{font-size: 18px;}  
    main button{font-size: 16px; min-width: 125px;}
    main .actions{display: flex; flex-direction: column;}
    main .btn1{margin-right: 0;}
}

@media (min-width: 600px) and (max-width: 800px){
    main h1{font-size: 25px;}
    main p{font-size: 18px;}  
    main button{font-size: 16px;}
}

@media (min-width: 800px) and (max-width: 1000px){
    main h1{font-size: 30px;}
    main p{font-size: 18px;}  
    main button{font-size: 16px;}
}

@media (min-width: 1000px) and (max-width: 1200px){
    main h1{font-size: 30px;}
    main p{font-size: 18px;}  
    main button{font-size: 16px;}
}

@media (min-width: 1200px) and (max-width: 1400px){
    main h1{font-size: 35px;}
    main p{font-size: 20px;}  
    main button{font-size: 18px;}
}

@media (min-width: 1400px) and (max-width: 1600px){
    main h1{font-size: 40px;}
    main p{font-size: 22.5px;}  
    main button{font-size: 18px;}
}

@media (min-width: 1600px) and (max-width: 2000px){
    main h1{font-size: 45px;}
    main p{font-size: 25px;}  
    main button{font-size: 20px;}
}