<body>
    <main id="inicio">
        <img src="../../../assets/background/background.jpg" alt="" srcset="">
        <h1>CBTA 190 Leona Vicario Fernández</h1>
        <p>"Cultivando conocimiento, cosechando el futuro"</p>
        <div class="actions">
            <button class="btn1" (click)="scrollTo('carreras')"> Ver más </button>
        </div>
    </main>
</body> 