<header>
    <nav>
        <img src="../../../assets/logo/logox200.png" alt="" srcset="">
    </nav>

    <ul>
        <li (click)="scrollTo('inicio')">
            <img src="../../../assets/icons/menu/home.png" alt="home-icon">
            <a>Inicio</a>
        </li>
        <li (click)="scrollTo('carreras')">
            <img src="../../../assets/icons/menu/education.png" alt="education-icon">
            <a>Carreras</a>
        </li>
        <li (click)="scrollTo('contacto')">
            <img src="../../../assets/icons/menu/email.png" alt="contact-icon">
            <a>Contacto</a>
        </li>
        <li (click)="scrollTo('acerca-de')">
            <img src="../../../assets/icons/menu/information.png" alt="user-icon">
            <a>Acerca de</a>
        </li>
    </ul>
    
</header>