header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #0D142E;
}

.show-header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #0D142E;
}
nav img{
    width: 90px;
    height: 70px;
    padding-left: 20px;
}
ul{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
}
ul li {
    height: 80px;
    padding: 0 10px;
    display: flex;
    text-decoration: none;
    align-items: center;
}
ul li img{ 
    width: 28px;
    height: 28px;
    margin-right: 5px;
    animation : bounceInDown;
    animation-duration: 1s;
}
ul li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
ul li:hover{
    background-color: #055159;
    cursor: pointer;
}

@media (min-width: 250px) and (max-width: 400px){
    nav img{
        padding-left: 10px;
        width: 70px;
        height: 50px;
    }
    ul li {padding: 10px;}
    ul li img{width: 24px; height: 24px; margin: 0;}
    ul li a{display: none;}
}

@media (min-width: 400px) and (max-width: 650px){
    nav img{
        width: 70px;
        height: 50px;
    }
    ul li img{width: 28px; height: 28px; margin: 0;}
    ul li a{display: none;}
}

@media (min-width: 650px) and (max-width: 800px){
    nav img{
        padding-left: 10px;
        width: 70px;
        height: 50px;
    }
    ul li {padding: 10px;}
    ul li a {font-size: 16px;}
    ul li img{width: 24px; height: 24px;}
}

@media (min-width: 800px) and (max-width: 1000px){
    nav img{
        width: 80px;
        height: 60px;
    }
    ul li a {font-size: 16px;}
    ul li img{width: 24px; height: 24px;}
}